*{
    padding: 0;
    margin: 0;
}

.main-nav{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}

.navigation{
    display: flex;
    gap: 20px;
}